<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-lg-4 h1Font">
    <a class="navbar-brand text-primary fw-semibold" routerLink="/">
      <i class="bi bi-bookmarks-fill"></i>
      NoteKeeper
    </a>
    <div class="justify-content-center d-flex gap-2 d-inline">
      <a routerLink="/categorias/listar">
        <button
          class="btn btn-sm bi-bookmark fw-semibold bg-primary btn-outline-light mb-2 rounded-1"
        >
          Categorias
        </button>
      </a>
      <a routerLink="/notas/listar">
        <button
          class="btn btn-sm bi-journal-text fw-semibold bg-primary btn-outline-light mb-2 rounded-1"
        >
          Notas
        </button>
      </a>
    </div>
  </div>
</nav>
