<div class="card h-100 border-{{ nota.tema }}">
  <div class="card-body">
    <div class="d-flex align-items-start gap-3">  
      <div class="row">
        <h5 class="card-title ">{{ nota.titulo }}</h5>
        <span class=" fw-semibold text-muted">#{{ nota.id }}</span>
      </div>
      
    </div>
    <p class="card-text my-4">{{ nota.conteudo }}</p>
  </div>
  <div class="d-flex gap-1 justify-content-end card-footer bg-{{nota.tema}} bg-opacity-50 }">
    
    <button
      class="btn btn-outline-{{ nota.tema }} rounded-5 py-2"
      routerLink="/notas/editar/{{nota.id}}"
      aria-label="Editar"
      ngbTooltip="Editar"
      placement="bottom"
    >
      <i class="bi bi-pen"></i>
    </button>
    <button
      class="btn btn-outline-{{ nota.tema }} rounded-5 py-2 "
      routerLink="/notas/excluir/{{nota.id}}"
      aria-label="Excluir"
      ngbTooltip="Excluir"
      placement="bottom"
    >
      <i class="bi bi-trash"></i>
    </button>

    <button class="btn btn-outline-{{nota.tema}} rounded-5 py-2" 
    [ngbTooltip]="nota.arquivada ? 'Reativar' : 'Arquivar'"
    placement="bottom"
    (click)="arquivarNota(nota)">
      <i class="bi" [ngClass]="nota.arquivada ? 'bi-arrow-left-circle-fill' : 'bi-archive-fill'"></i>
    </button>
  </div>
</div>
