<div class="row justify-content-start g-2">
  <div class="col-6 col-lg-1 justify-content-center">
    <span
    (click)="selecionarTodas()"
    ngbTooltip="Todas as Notas"
    placement="left"
    class="app-badge-filtro badge rounded-pill bg-primary w-100 p-2 fs-6 fw-semibold">Todas</span>
  </div>

<div class="col-6 col-lg-1 justify-content-center" *ngFor="let categoria of categorias">
  <span
    (click)="selecionarNotasPorCategoria(categoria)"
    ngbTooltip="Categoria: {{ categoria.titulo }}"
    placement="bottom"
    class="app-badge-filtro badge rounded-pill bg-primary w-100 p-2 fs-6 fw-semibold"
    >{{categoria.titulo.split(" ")[0]}}</span
  >
</div>
</div>
